* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dashed red;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;

}

.header-content {
  grid-area: header;
}

.grid-container {
  grid-area: grid-game;
}


.mod-buttons {
  grid-area: buttons;
}

.footer-elements {
  grid-area: footer;
}


main {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(10px, 0.5fr) minmax(10px, 3fr) minmax(10px, 0.5fr);
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas:
    "header header header"
    "buttons grid-game ."
    "footer footer footer";

}



/*GRID GAME STYLES 